---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CtaBtn from "../../components/CtaBtn.astro";
---

<BaseLayout
  title="Add a new subscription"
  description="Learn how to add a new subscription to Controllo"
  url="https://controllo.dlcastillop.com/learn/add-new-subscription"
>
  <div class="text-base text-left flex flex-col gap-6">
    <h1 class="text-4xl font-bold text-center">Add a new subscription</h1>
    <p>
      Controllo allows you to have as many subscriptions as you need, that is,
      there is no limit to the amount you can enter. In this tutorial you will
      learn how to add your subscriptions in Controllo.
    </p>
    <h2 class="text-xl font-semibold">Step 1: Press the add button</h2>
    <p>
      At the top of Controllo you will find the add button. It's the one with
      the + icon.
    </p>
    <img
      src="https://makeeket.sirv.com/controllo/tutorial_1.1.jpg"
      width="1200"
      height="630"
      alt="Add button"
      class="rounded"
    />
    <p>Once you press it, this form will open.</p>
    <img
      src="https://makeeket.sirv.com/controllo/tutorial_1.2.jpg"
      width="1200"
      height="630"
      alt="Form to add a new subscription"
      class="rounded"
    />
    <h2 class="text-xl font-semibold">Step 2: Fill out the form</h2>
    <p>
      Now you have to complete the form. Keep in mind that these fields are
      required and if you leave any blank you will not be able to continue.
    </p>
    <p>
      In the first field, enter the name of the service. For example: Netflix,
      Spotify, etc.
    </p>
    <img
      src="https://makeeket.sirv.com/controllo/tutorial_1.3.jpg"
      width="1200"
      height="630"
      alt="Adding the name of the service"
      class="rounded"
    />
    <p>
      In the second field enter how much you pay for the service. For example:
      10, 125, etc.
    </p>
    <img
      src="https://makeeket.sirv.com/controllo/tutorial_1.4.jpg"
      width="1200"
      height="630"
      alt="Adding how much you pay for the service"
      class="rounded"
    />
    <p>
      In the third field, select how often you pay for that service. Choose one
      of two options: monthly or yearly.
    </p>
    <img
      src="https://makeeket.sirv.com/controllo/tutorial_1.5.jpg"
      width="1200"
      height="630"
      alt="Selecting the payment frecuency"
      class="rounded"
    />
    <p>
      In the fourth field, select the due date or the date of the next payment.
    </p>
    <img
      src="https://makeeket.sirv.com/controllo/tutorial_1.6.jpg"
      width="1200"
      height="630"
      alt="Selecting the date of the next payment"
      class="rounded"
    />
    <p>
      Now click on the “ADD” button to close the form and add the subscription.
    </p>
    <img
      src="https://makeeket.sirv.com/controllo/tutorial_1.7.jpg"
      width="1200"
      height="630"
      alt="Add button"
      class="rounded"
    />
    <p>And voilà, your subscription has been added.</p>
    <img
      src="https://makeeket.sirv.com/controllo/tutorial_1.8.jpg"
      width="1200"
      height="630"
      alt="Subscription added"
      class="rounded"
    />
    <div class="self-center"><CtaBtn /></div>
  </div>
</BaseLayout>
