---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Controllo - Learn how to use Controllo"
  description="Learn how to use Controllo with these easy step-by-step tutorials."
  url="https://controllo.dlcastillop.com/learn"
>
  <h1 class="text-4xl font-bold">Learn how to use Controllo</h1>
  <p class="mt-6 text-lg text-left">
    We have created several step by step tutorials for you to learn how to use
    Controllo.
  </p>
  <section class="flex flex-col gap-6 mt-6">
    <div
      class="card bg-neutral text-left hover:scale-105 ease-in-out duration-500"
    >
      <a href="/learn/add-new-subscription"
        ><div class="card-body p-6">
          <h2 class="card-title">Add a new subscription</h2>
          <p>
            In this tutorial you are going to learn how to add a new
            subscription to Controllo
          </p>
        </div></a
      >
    </div>

    <div
      class="card bg-neutral text-left hover:scale-105 ease-in-out duration-500"
    >
      <a href="/learn/manage-subscriptions"
        ><div class="card-body p-6">
          <h2 class="card-title">Manage your subscriptions</h2>
          <p>
            In this tutorial you are going to learn how to manage your
            subscriptions in Controllo
          </p>
        </div></a
      >
    </div>

    <div
      class="card bg-neutral text-left hover:scale-105 ease-in-out duration-500"
    >
      <a href="/learn/meaning-color-code"
        ><div class="card-body p-6">
          <h2 class="card-title">The meaning of the color code in Controllo</h2>
          <p>
            In this tutorial you are going to learn what is the meaning of the
            color code in Controllo
          </p>
        </div></a
      >
    </div>
  </section>
</BaseLayout>
