---
import Layout from "../../layouts/Layout.astro";
import NavBar from "../../components/NavBar.astro";
import Footer from "../../components/Footer.astro";
---

<Layout
  title="Controllo - Free browser extension to track all your subscriptions in one place"
  description="With Controllo you will always be updated on your subscriptions and you will never miss another payment date."
  url="https://controllo.dlcastillop.com/learn"
>
  <div class="min-h-screen bg-base-200 text-white">
    <NavBar />
    <main class="max-w-3xl m-auto">
      <div class="hero mt-5">
        <div class="hero-content text-center">
          <div>
            <h1 class="text-4xl font-bold">Learn how to use Controllo</h1>
            <p class="mt-6 text-lg text-left">
              We create several step by step tutorials for you to learn how to
              use Controllo.
            </p>
            <section class="flex flex-col gap-6 mt-6">
              <div
                class="card bg-neutral text-left hover:scale-105 ease-in-out duration-500"
              >
                <a href="/learn/add-new-subscription"
                  ><div class="card-body p-6">
                    <h2 class="card-title">Add a new subscription</h2>
                    <p>
                      In this tutorial you are going to learn how to add a new
                      subscription to Controllo
                    </p>
                  </div></a
                >
              </div>
            </section>
          </div>
        </div>
      </div>
      <Footer />
    </main>
  </div>
</Layout>
