---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CtaBtn from "../../components/CtaBtn.astro";
---

<BaseLayout
  title="Manage your subscriptions"
  description="Learn how to manage your subscriptions in Controllo"
  url="https://controllo.dlcastillop.com/learn/manage-subscriptions"
>
  <div class="text-base text-left flex flex-col gap-6">
    <h1 class="text-4xl font-bold text-center">Manage your subscriptions</h1>
    <p>
      In addition to adding all your subscriptions, with Controllo you can also
      manage them without any limit. In this tutorial you will learn how to edit
      and delete your subscriptions.
    </p>
    <h2 class="text-xl font-semibold">Locate subscription options</h2>
    <p>
      The subscriptions are represented in the form of a card and at the end of
      each one you will find an icon with three points that when you hover it
      shows two options: Edit and Delete.
    </p>
    <img
      src="./tutorial_2.1.jpg"
      alt="Options for each subscription: Pay, Edit or Delete"
      class="rounded"
    />
    <h2 class="text-xl font-semibold">Pay your subscription</h2>
    <p>
      When you press the Pay option, you are going to be redirected to the link
      you provide when you add the subscription.
    </p>
    <h2 class="text-xl font-semibold">Edit your subscriptions</h2>
    <p>
      When you press the Edit option, a form will open like the one shown when
      you want to add a new subscription, but it will contain the data of the
      selected subscription.
    </p>
    <img src="./tutorial_2.2.jpg" alt="Editing a service" class="rounded" />
    <p>Now you can edit each field.</p>
    <img src="./tutorial_2.3.jpg" alt="Subscription edited" class="rounded" />
    <p>
      When you are ready, press the Save button to save the changes and close
      the form.
    </p>
    <img src="./tutorial_2.4.jpg" alt="Save button" class="rounded" />
    <p>
      Keep in mind that these fields are required and if you leave any blank you
      will not be able to continue.
    </p>
    <img
      src="./tutorial_2.5.jpg"
      alt="Subscription edited and saved"
      class="rounded"
    />
    <h2 class="text-xl font-semibold">Delete your subscriptions</h2>
    <p>
      When you press the Delete option, the subscription is deleted. Please note
      that this change is permanent and cannot be undone.
    </p>
    <div class="self-center"><CtaBtn /></div>
  </div>
</BaseLayout>
