---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CtaBtn from "../../components/CtaBtn.astro";
---

<BaseLayout
  title="Your analytics in Controllo"
  description="Learn what each analytic in Controllo means"
  url="https://controllo.dlcastillop.com/learn/your-analytics"
>
  <div class="text-base text-left flex flex-col gap-6">
    <h1 class="text-4xl font-bold text-center">Your analytics in Controllo</h1>
    <p>
      Controllo offers you some analytics based on your subscription data. In
      this tutorial you will learn the meaning of each one.
    </p>
    <h2 class="text-xl font-semibold">Locate the analytics</h2>
    <p>
      The analytics are located at the top of Controllo. Click on the bar
      graphic icon to open the analytics window.
    </p>
    <img src="./tutorial_5.1.jpg" alt="Analytics icon" class="rounded" />
    <h2 class="text-xl font-semibold">Analytics on your payments</h2>
    <p>
      The first one tells you how much you spend monthly with your
      subscriptions.
    </p>
    <img
      src="./tutorial_5.2.jpg"
      alt="How much you spend monthly"
      class="rounded"
    />
    <p>
      The second one tells you how much you spend yearly with your
      subscriptions.
    </p>
    <img
      src="./tutorial_5.3.jpg"
      alt="How much you spend yearly"
      class="rounded"
    />
    <h2 class="text-xl font-semibold">Analytics on payment dates</h2>
    <p>
      The third one tells you how many subscriptions you have expired, that is,
      those that you have not paid on time.
    </p>
    <img
      src="./tutorial_5.4.jpg"
      alt="How many subscriptions you have expired"
      class="rounded"
    />
    <p>
      The fourth one tells you how many subscriptions you have to pay in less
      than 7 days.
    </p>
    <img
      src="./tutorial_5.5.jpg"
      alt="How many subscriptions you have to pay in less than 7 days"
      class="rounded"
    />

    <p>
      The fifth one tells you how many subscriptions you have to pay in less
      than 30 days.
    </p>
    <img
      src="./tutorial_5.6.jpg"
      alt="How many subscriptions you have to pay in less than 30 days"
      class="rounded"
    />

    <p>
      The sixth one tells you how many subscriptions you have to pay in more
      than 30 days.
    </p>
    <img
      src="./tutorial_5.7.jpg"
      alt="How many subscriptions you have to pay in more than 30 days"
      class="rounded"
    />
    <div class="self-center"><CtaBtn /></div>
  </div>
</BaseLayout>
