---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Controllo - Contributors"
  description="All contributors of Controllo."
  url="https://controllo.dlcastillop.com/contributors"
>
  <h1 class="text-4xl font-bold">Contributors</h1>
  <p class="mt-6 text-lg text-left">
    This page contains all those who in one way or another have contributed to
    the development of Controllo. This project is great because of all of you.
    Thank you very much for your contributions.
  </p>
  <div class="flex justify-center">
    <a href="https://linktr.ee/hallwayAD" target="_blank"
      ><img src="./hallway_logo.png" alt="Hallway AD logo" class="mt-6" />
    </a>
  </div>
</BaseLayout>
