---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Welcome to Astro.">
  <div class="min-h-screen bg-base-200">
    <NavBar />
    <main>
      <Hero />
    </main>
  </div>
</Layout>
