---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Welcome to Astro.">
  <NavBar />
  <main>
    <Hero />
  </main>
</Layout>
