---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import NavBar from "../components/NavBar.astro";
import Features from "../components/Features.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Controllo - Free browser extension to track all your subscriptions in one place"
  description="With Controllo you will always be updated on your subscriptions and you will never miss another payment date."
  url="https://controllo.dlcastillop.com"
>
  <div class="min-h-screen text-neutral">
    <NavBar />
    <main class="max-w-3xl m-auto">
      <Hero />
      <Features />
    </main>
    <div class="flex justify-center mt-10">
      <a
        href="https://www.producthunt.com/posts/controllo?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-controllo"
        target="_blank"
        ><img
          src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=395492&theme=neutral"
          alt="Controllo - Track all your subscriptions in one place | Product Hunt"
          style="width: 250px; height: 54px;"
          width="250"
          height="54"
        /></a
      >
    </div>
  </div>
  <Footer />
</Layout>
