---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import NavBar from "../components/NavBar.astro";
import Features from "../components/Features.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Controllo - Free browser extension to track all your subscriptions in one place"
>
  <div class="min-h-screen bg-base-200 text-white">
    <NavBar />
    <main class="max-w-3xl m-auto">
      <Hero />
      <Features />
    </main>
    <Footer />
  </div>
</Layout>
