<section class="mt-5 flex justify-center px-4">
  <ul class="font-semibold grid md:grid-cols-2 grid-cols-1 gap-4 text-sm">
    <li class="flex items-center space-x-1">
      <svg
        class="flex-shrink-0 w-5 h-5 text-success"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path></svg
      >
      <span>Add, edit and delete your subscriptions</span>
    </li>
    <li class="flex items-center space-x-1">
      <svg
        class="flex-shrink-0 w-5 h-5 text-success"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path></svg
      >
      <span>Available for Chrome, Firefox, Edge, Opera and Brave</span>
    </li>
    <li class="flex items-center space-x-1">
      <svg
        class="flex-shrink-0 w-5 h-5 text-success"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path></svg
      >
      <span>Set the subscription details</span>
    </li>
    <li class="flex items-center space-x-1">
      <svg
        class="flex-shrink-0 w-5 h-5 text-success"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path></svg
      >
      <span>No account needed</span>
    </li>
    <li class="flex items-center space-x-1">
      <svg
        class="flex-shrink-0 w-5 h-5 text-success"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path></svg
      >
      <span>Color code</span>
    </li>
    <li class="flex items-center space-x-1">
      <svg
        class="flex-shrink-0 w-5 h-5 text-success"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path></svg
      >
      <span>Open source</span>
    </li>
    <li class="flex items-center space-x-1">
      <svg
        class="flex-shrink-0 w-5 h-5 text-success"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path></svg
      >
      <span>Search for an specific subscription</span>
    </li>
    <li class="flex items-center space-x-1">
      <svg
        class="flex-shrink-0 w-5 h-5 text-success"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path></svg
      >
      <span>See your analytics</span>
    </li>
  </ul>
</section>
