---
import CtaBtn from "./CtaBtn.astro";
---

<div class="hero mt-5">
  <div class="hero-content text-center">
    <div>
      <h1 class="text-4xl font-bold">
        Track all your subscriptions in <span class="text-primary"
          >one place</span
        >
      </h1>
      <p class="py-6 text-lg">
        With Controllo you will always be updated on your subscriptions and you
        will never miss another payment date.
      </p>
      <div class="flex gap-2.5 justify-center items-center">
        <CtaBtn />
        <a class="btn btn-neutral normal-case text-white" href="/get-started"
          >Learn</a
        >
      </div>
    </div>
  </div>
</div>
