<header>
  <nav class="navbar bg-base-200">
    <a
      class="text-xl font-bold flex gap-1.5 items-center"
      href="https://controllo.dlcastillop.com"
      ><img src="/icon.png" alt="Logo of Controllo" class="w-10 h-10" /><span
        >Controllo</span
      ></a
    >
  </nav>
</header>
