---
import CtaBtn from "./CtaBtn.astro";
---

<header>
  <nav class="navbar bg-base-200 px-6">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="hover:cursor-pointer sm:hidden">
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            ><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg
          >
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 space-y-2.5"
        >
          <li>
            <a
              class="flex text-base gap-1.5 items-center hover:bg-base-100 hover:link"
              href="/learn">Learn</a
            >
          </li>
          <li>
            <a
              class="flex text-base gap-1.5 items-center hover:bg-base-100 hover:link"
              href="/how-to-support-controllo">Support</a
            >
          </li>
          <li>
            <CtaBtn />
          </li>
        </ul>
      </div>
      <a
        class="text-xl font-bold flex gap-1.5 items-center ml-1.5 sm:ml-0"
        href="https://controllo.dlcastillop.com"
        ><img src="/icon.png" alt="Logo of Controllo" class="w-10 h-10" /></a
      >
    </div>
    <div class="navbar-end hidden sm:flex">
      <ul class="menu menu-horizontal px-1">
        <li>
          <a
            class="flex text-base gap-1.5 items-center hover:bg-base-200 hover:link"
            href="/learn">Learn</a
          >
        </li>
        <li>
          <a
            class="flex text-base gap-1.5 items-center hover:bg-base-200 hover:link"
            href="/how-to-support-controllo">Support</a
          >
        </li>
        <li>
          <CtaBtn />
        </li>
      </ul>
    </div>
  </nav>
</header>
